
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  /* background: url(/src/assets/yay.jpg) no-repeat center 0; */
  /* background-size: 388px 328px; */
}

.list {
  font-size: 1em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
  font-family: Microsoft YaHei;
  color: #666666;
}

.welcomeLoginText{
  margin: 20px 0 0;
  font-family: Microsoft YaHei;
  font-size: 1.25em;
  color: #1B9DFc;
}
